.card[data-id] {
  background-color: whitesmoke;
}

.card[data-id]:hover {
  background-color: white;
}

#reset,
#resultCards {
  visibility: hidden;
}

#search {
  background-color: steelblue;
  color: white;
}

.cadTextColor {
  color: darkslategray;
}

.cadTextColor:hover {
  background-color: lemonchiffon;
  text-decoration: underline;
}

.brand {
  color: tomato;
}

.specifications {
  width: 77%;
  margin: 20px;
  background-color: white;
}

.specHeading {
  font-size: 1rem;
  padding: 4px;
  border-bottom: 1px solid teal;
}

.specProperty {
  color: darkgoldenrod;
  font-size: 0.8rem;
  display: flex;
}

.specLabel {
  width: 50%;
  text-align: end;
  color: black;
  font-size: 0.8rem;
  margin-left: 30px;
}

.specValue {
  width: 50%;
  padding-left: 20px;
}

figcaption {
  font-size: 0.6em;
  text-align: center;
  color: brown;
}

.docpdf {
  color: teal;
}

.dsheet {
  color: blue;
}

.back-gold {
  background-color: paleturquoise;
}

.lgo {
  color: deeppink;
}

.is-200x200 {
  height: 200px !important;
  width: 200px !important;
}

[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]::after {
  position: absolute;
  width: 100%;
  content: attr(data-tooltip);
  bottom: 40%;
  box-sizing: border-box;
  text-align: center;
  color: white;
  background-color: #2000ff85;
  font-size: 0.6em;
  visibility: hidden;
  opacity: 0;
}

[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.panel.au-search {
  width: 250px;
  position: fixed;
}

.assetTable {
  background-color: antiquewhite;
  display: flex;
}

.scrollNAV {
  background-color: antiquewhite;
  border-bottom: 2px dashed darkcyan;
}

.assetTable table.is-striped tr:hover {
  background-color: lemonchiffon !important;
}

.conbox,
.conbox2 {
  display: grid;
}

.conbox {
  color: crimson;
}

.conbox2 {
  color: green;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
}

.rockwell {
  background-color: lemonchiffon;
  color: gray;
}

.otherPix {
  display: flex;
}

.rockglobe {
  color: crimson;
}

.navbar-menu {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.48);
}

#productItems {
  background-color: whitesmoke;
}

td a:hover {
  background-color: yellow;
  text-decoration: underline;
}

.copyCSV {
  position: relative;
  font-size: 10px;
  margin-top: 30px;
  background: honeydew;
  cursor: pointer;
}

.copyCSV:hover {
  border: 2px dashed black;
  background-color: aquamarine;
}

.copyCSV:hover::after {
  content: "Click to copy text to clipboard";
  position: absolute;
  font-size: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: yellow;
  padding: 10px;
  border-radius: 25px;
}

.accessories {
  margin-top: 20px;
  background-color: snow;
  font-size: 10px;
  width: 100%;
  margin: 20px;
}

.accessoryTitle {
  color: blue;
}

.checkboxes.bcow {
  display: grid;
}

.largeDiagram {
  width: 100%;
}

.nodiagram {
  font-weight: normal !important;
  font-size: 14px;
  color: yellow;
  margin-left: 20px;
  background-color: darkslategray;
}

.stock-status {
  padding: 0px 10px;
  margin: 0px 10px;
  border-radius: 20px;
}

.out-stock {
  background-color: red;
  color: white;
}

.in-stock {
  background-color: springgreen;
  color: black;
}

.reportView .logo img {
  height: 60px;
}

.report-information {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.report-repImage {
  position: absolute;
  bottom: 0px;
  font-size: 10px;
  text-align: center;
  width: 100%;
  color: black;
  background-color: gainsboro;
  opacity: 0.3;
}

.report-info-column1 {
  text-align: right;
  font-weight: bold;
  padding-right: 6px;
  background-color: whitesmoke;
  border-bottom: 3px solid white;
  font-size: 14px;
}

.report-info-column2 {
  font-size: 14px;
  padding-left: 10px;
}

.specData {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  font-size: 10px;
}

.report-spec-grid {
  display: flex;
  font-size: 12px;
}

.report-spec-label {
  width: 71%;
  border-bottom: 1px dotted grey;
}

.report-no-logo {
  padding: 10px;
  color: red;
  border-bottom: 1px solid;
  border-top: 1px solid;
}
